body {
    margin: 0;
    padding: 0;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

/*widget css*/


.card-body {
    display: inline-block;
    font-family: "Roboto", sans-serif;
    background: #00C292;
    margin: 10px;
    padding: 20px;
    width: 250px;
    height: 90px;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

}

.card-body p {
    font-size: 16px;
    margin-top: 0;

}

.float-left {
 float: left;
}

.float-right {
float: right;
}

.card-body h3 {
    margin-top: 15px;
    margin-bottom: 5px;
}

.currency, .count {
    font-size:  30px;
    font-weight: 500px;
}

.card-body i {
    font-size: 95px;
    opacity: 0.5;
}


.color1 {
    background: #00C292;
}
.color2 {
    background: #03A9F3;
}
.color3 {
    background: #FB7146;
}

.color4 {
    background: #7902f0;
}



